

.delete-modal {
    background-color: var(--white);
    padding: 50px;
    text-align: center;
}

.delete-modal h1 {
    font-size: 2rem;
}

.delete-modal-buttons{
    display: flex;
    column-gap: 20px;
}

.delete-btn{
    width: 100%;
    margin-top: 30px;
    font-size: 1.3rem;
    padding: 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.delete-modal-accept__btn{
    color: var(--white);
    background-color: var(--blue);
    width: 100%;
}