.sidebar{
  position: fixed;
  background-color: var(--blue);
  height: 100vh;
  flex: 1;
}

.sidebar-title{
    font-size: 1.4rem !important;
    color: var(--white);
    padding: 15px;
    text-align: right;
    border-bottom: 2px solid #6c48bb;
}

.sidebar-links{
    margin-top: 20px !important;
    padding-left: 0 !important;
}

.sidebar-links li {
    position: relative !important;
}

.sidebar-links li a {
    color: var(--white) !important;
    text-decoration: none !important;
    display: flex !important;
    justify-content: right !important;
    align-items: center !important;
    font-size: 1.3rem !important;
    padding: 15px !important;
}

.sidebar-links li.active {
    background-color: #391588;
}

.active {
    background-color: #391588;
}

.sidebar-links li:first-child{
    margin-bottom: 20px !important;
}

.icon {
    margin-left: 8px !important;
}